#photographersTable {
    
    font-size: .9em;

    margin: auto;
    margin-top: 5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(185, 221, 221);
    width: 50em;
    height: 15em;
    border-collapse: collapse;
    border-spacing: 9em;
    display: table;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}
ul {
    list-style-type: none;
    float:right;
  }
  #logo{
      
    width: 3rem;
    display: inline-block;
    vertical-align: top;  
  }
  #name{
    vertical-align: top;
   display: inline-block;
   font-size: 2.2rem;
   color:  rgb(185, 221, 221);
  }
  #brand{
    margin-top: 0.4rem;
    float:left;
    vertical-align: middle;
    height: 3rem;  
  }
  #listDiv{
    width: 100%;
    background-color: rgba(51, 51, 51, 0.877); 
     
    overflow: hidden;
  }
  li{
    display: inline-block;
  }
  li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color:  rgb(185, 221, 221);
  }
#camera>i
{
    font-size: 5rem;
    color: #333;
    text-shadow: rgba(0, 0, 0, 0.35) 1px 5px 15px;
}
#camera>p
{
    font-size: 2rem;
    text-shadow: rgba(0, 0, 0, 0.35) 1px 5px 15px;
    
}
#camera
{
    margin:auto;
    margin-top:4rem;
    text-align: center;
}
th{
    color: #4286f4;
    padding: 1em;
}
td>i{
    color: #4286f4;
}
