html, #body {
display: flex;
justify-content: center;
font-size: 15px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form {
background-color: rgb(185, 221, 221);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
input[type=text], input[type=password],input[type=email] {
width: 100%;
padding: 16px 8px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}
.icon {
font-size: 8em;
display: flex;
justify-content: center;
color: #4286f4;
}
button {
background-color: #4286f4;
color: white;
padding: 14px 0;
margin: 10px 0;
border: none;
width: 48%;
}
h1 {
text-align:center;
font-size:15;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-image:linear-gradient(#1f0566, #2f63c5, #00c2cb);
}
button:hover {
opacity: 0.8;
}
.formcontainer {
text-align: center;
margin: 24px 50px 12px;
width: 30em;
height: 35em;

}
.container {
padding: 16px 0;
text-align:left;
}
span.psw {
float: right;
padding-top: 0;
padding-right: 15px;
}
/* Change styles for span on extra small screens */
/* @media screen and (max-width: 300px) {
span.psw {
display: block;
float: none;
} */
